body {
    font-family: sans-serif;
}

header{
    background-color:greenyellow;

    padding: 40px 0px 40px 25px;
}

.link-header{
    padding-top: 5px 10px 5px 10px ;
    margin-top: 25px;
    margin: 25px;
    color: red;
}

footer{
    background-color: black;
}
